<div class="tControls">
  <div class="top">
    <button {{action markAllAsRead}} class="btn" title="Mark all as read" alt="Mark all as read"><i class="icon-ok"></i></button>
  </div>
  <div class="middle">
    <button {{action selectPrevious}} {{bindAttr disabled="feedItems.firstItemSelected"}} class="btn"><i class="icon-arrow-up"></i></button>
    <button {{action toggleStar context="selectedItem"}} {{bindAttr disabled="feedItems.hasNoSelection"}} class="btn">
      <i {{bindAttr class="selectedItem.isStarred:icon-star selectedItem.isUnstarred:icon-star-empty"}}></i>
    </button>
    <button {{action toggleUnread context="selectedItem"}} {{bindAttr disabled="feedItems.hasNoSelection"}} class="btn">
      <i {{bindAttr class="selectedItem.isRead:icon-ok-sign selectedItem.isUnread:icon-ok-circle"}}></i>
    </button>
    <button {{action selectNext}} {{bindAttr disabled="feedItems.lastItemSelected"}} class="btn"><i class="icon-arrow-down"></i></button>
  </div>
  <div class="bottom">
    <button ng-click="items.refresh()" class="btn" title="Refresh feeds" alt="Refresh feeds">
      <i class="icon-refresh"></i>
    </button>
  </div>
</div>
