<div class="tControls">

  <div class="top">
    <button {{action markAllAsRead target="feedItemsController"}} class="btn" title="Mark all as read" alt="Mark all as read"><i class="icon-ok"></i></button>
  </div>

  <div class="middle">
    <button {{action selectPrevious target="feedItemsController"}} {{bindAttr disabled="feedItemsController.isFirstItemSelected"}} class="btn"><i class="icon-arrow-up"></i></button>

    <button {{action toggleStar target="feedItemController"}} {{bindAttr disabled="feedItemsController.hasNoSelection"}} class="btn">
      <i {{bindAttr class="feedItemController.isStarred:icon-star feedItemController.isUnstarred:icon-star-empty"}}></i>
    </button>

    <button {{action toggleRead target="feedItemController"}} {{bindAttr disabled="feedItemsController.hasNoSelection"}} class="btn">
      <i {{bindAttr class="feedItemController.isRead:icon-ok-sign feedItemController.isUnread:icon-ok-circle"}}></i>
    </button>

    <button {{action selectNext target="feedItemsController"}} {{bindAttr disabled="feedItemsController.isLastItemSelected"}} class="btn"><i class="icon-arrow-down"></i></button>
  </div>

  <div class="bottom">
    <button class="btn" title="Refresh feeds" alt="Refresh feeds">
      <i class="icon-refresh"></i>
    </button>
  </div>

</div>
