{{#each controller}}
  <article
    {{action selectItem}}
    {{bindAttr class=":well :summary isRead:read isSelected:active"}}>
    <div class="row-fluid" >
      <div class="span6 pub-name">
        {{publicationName}}
      </div>
      <div class="span6 pub-date">
        {{formattedDate}}
      </div>
    </div>
    <h3 class="pub-title">{{title}}</h3>
  </article>
{{/each}}
